.header,
.intro,
footer {
    background-color: #1F2937;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 35px;
    align-items: center;
}

a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

.logo{
   font-size: 24px;
   color: #F9FAF8; 
}

.header {
    display: flex;
    align-items: center;
    padding: 15px 150px;
    justify-content: space-between;

}

footer {
    color: white;
    text-align: center;
    padding: 25px;
}