.header,
.intro,
footer {
    background-color: #1F2937;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 35px;
    align-items: center;
}

a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

.logo{
   font-size: 24px;
   color: #F9FAF8; 
}

.header {
    display: flex;
    align-items: center;
    padding: 15px 250px;
    justify-content: space-between;

}

h1 {
    font-size: 48px;
    font-weight: extra-bold;
    color: #F9FAF8;
    margin: 0;
}

p {
    font-size: 18px;
    color: #E5E7EB;
    margin: 0;
}

img {
    width: 650px;
    height: 250px;
    
}

.signup.body {
    padding: 3px 25px;
    background-color: #3882F6;
    color: white;
    margin-top: 15px;
    width: 100px;
    border-radius: 5px;
    border: 0px;
}

.left {
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /*need to fix this section*/

}

.intro {
    display: flex;
    padding: 100px 250px;
    gap: 105px;
    /*need to fix this section*/
    
}

h2 {
    font-size: 36px;
    color: #1F2937;
    font-weight: extra-bold;
    text-align: center;
    margin: 80px;
}

.container {
    display: flex;
    gap: 75px;
    justify-content: center;

}

.card {
    border: 5px solid #3882F6;
    border-radius: 15px;
    width: 200px;
    height: 200px;
   
}

.text{
    margin-top: 15px;
    margin-bottom: 150px;
    font-size: 18px;
    text-align: center;
    width: 200px;

}
.quote {
    background-color: #E5E7EB;
    padding: 100px 350px;
}

.testimonial {
    font-style: italic;
    font-size: 36px;

}

.person {
    font-weight: 700;
    text-align: right;

}

.action{
    padding: 100px 200px;

}

.just-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.blue {
    background-color: #3882F6;
    padding: 30px 80px;
    display: flex;
    justify-content: space-between;
}

.call-title {
    color: white;
    font-weight: 700;
}

.call-detailed {
    color:white;
}

.signup.footer {
    padding: 3px 25px;
    background-color: #3882F6;
    border-color: white;
    color: white;
    width: 100px;
    border-radius: 5px;
    border-color: white;
    border-style: solid;
    
}

footer {
    color: white;
    text-align: center;
    padding: 25px;
}